<%- include('header'); -%>
<h1>What’s your ZIP code?</h1>
<form class="pure-form">
    <fieldset>
        <label for="zip">zipcode</label>
        <input type="number" id="zip" name="zip" placeholder="600001" autofocus required>
        <input type="submit" class="pure-button pure-button-primary" value="Go">
    </fieldset>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/javascripts/main.js"></script>
<%- include('footer'); -%>